<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <div style="display: flex; flex-direction: column; align-items: center;"> 
        <video id="video" style="display: none;" autoplay></video>

        <canvas id="canvas" width="640px" height="640px"></canvas>
        
        <div id="snap" style="height: 150px; width:150px; border-radius: 50%;
        cursor: pointer; font-family: 'Courier New', Courier, monospace;
        text-align: center; background-color: gainsboro; margin: 20px;
        font-size: 1.5em; line-height: 150px;">Capture</div>
    </div>
    <script src="../templates/script/client_stream_app.js"></script>
</body>
</html>